[build]
  publish = "."
  # 빌드 시 JS 파일 내의 "process.env.KEY_NAME" 문자열을 실제 값으로 바꿉니다.
  command = """
    sed -i "s|process.env.REACT_APP_FIREBASE_API_KEY|${REACT_APP_FIREBASE_API_KEY}|g" ./js/firebase-config.js && \
    sed -i "s|process.env.REACT_APP_FIREBASE_APP_ID|${REACT_APP_FIREBASE_APP_ID}|g" ./js/firebase-config.js && \
    sed -i "s|process.env.REACT_APP_FIREBASE_AUTH_DOMAIN|${REACT_APP_FIREBASE_AUTH_DOMAIN}|g" ./js/firebase-config.js && \
    sed -i "s|process.env.REACT_APP_FIREBASE_MESSAGING_SENDER_ID|${REACT_APP_FIREBASE_MESSAGING_SENDER_ID}|g" ./js/firebase-config.js && \
    sed -i "s|process.env.REACT_APP_FIREBASE_PROJECT_ID|${REACT_APP_FIREBASE_PROJECT_ID}|g" ./js/firebase-config.js && \
    sed -i "s|process.env.REACT_APP_FIREBASE_STORAGE_BUCKET|${REACT_APP_FIREBASE_STORAGE_BUCKET}|g" ./js/firebase-config.js && \
    echo '✅ Firebase 환경 변수 치환 완료'
  """

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
