[build]
  publish = "." # 루트 폴더를 그대로 배포
  command = """
    sed -i "s|window.FIREBASE_API_KEY|'${REACT_APP_FIREBASE_API_KEY}'|g" ./js/firebase-config.js && \
    sed -i "s|window.FIREBASE_AUTH_DOMAIN|'${REACT_APP_FIREBASE_AUTH_DOMAIN}'|g" ./js/firebase-config.js && \
    sed -i "s|window.FIREBASE_PROJECT_ID|'${REACT_APP_FIREBASE_PROJECT_ID}'|g" ./js/firebase-config.js && \
    sed -i "s|window.FIREBASE_STORAGE_BUCKET|'${REACT_APP_FIREBASE_STORAGE_BUCKET}'|g" ./js/firebase-config.js && \
    sed -i "s|window.FIREBASE_MESSAGING_SENDER_ID|'${REACT_APP_FIREBASE_MESSAGING_SENDER_ID}'|g" ./js/firebase-config.js && \
    sed -i "s|window.FIREBASE_APP_ID|'${REACT_APP_FIREBASE_APP_ID}'|g" ./js/firebase-config.js && \
    echo '✅ Firebase 환경 변수 주입 성공!'
  """

[[redirects]]
  from = "/*"
  to = "/index.html"
  status = 200
